$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary-color: #323232;
$secondary-textColor: #FFFFFF;
$inactive: #AFAFAF;
$mobile-headlinePadding: 1.5rem 1rem 1rem 1rem;
$mobile-sidePadding: 0 1rem 0 1rem;
$mobile-headerSize: 1.5rem;
$mobile-headerHeight: 2rem;
$mobile-bodySize: 0.81rem;
$mobile-bodyHeight: 1.13rem;
$desktop-headlinePadding: 3rem 2.25rem 2.25rem 2.25rem;
$desktop-headerSize: 3.75rem;
$desktop-sectionHeight: 2.75rem;
$desktop-sectionSize: 2.25rem;
$desktop-sidePadding: 0 5rem 0 5rem;
$desktop-subSize: 1.5rem;

