@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

html, body{
    margin: 0;
    font-family: "AvenirNextLTPro-Regular";
}

// Start of Nav SCSS
.nav{
        background-color: $primary-color;
        @include tablet{
            display: flex;  
        }
    &__logo{
            padding-top: 1rem;
            display: flex;
            justify-content: center;
            @include tablet{
                margin: 0 1rem 1rem 2.25rem;
                align-items: center;
            }
            @include desktop{
                margin: 1rem 2rem 2rem 5rem;
            }
    }
    &__image{
            height: 1.25rem;   
    }
    &__list{
            display: flex;
            padding: 0;
            list-style: none;
            margin-bottom: 0;
            @include tablet {
                padding-top: 1rem;
            }
            @include desktop{
                margin-top: 1.5rem;
            }
    }
    &__item{
        color: $inactive;
        text-decoration: none;
        width: 100%;
        text-align: center;
        padding-bottom: 0.7rem;
        font-size: 0.63rem;
        font-weight: bold;
            @include tablet{
                font-size: 0.75rem;
                margin: 0 1rem 0 2.25rem;
            }
         &--active{
            border-bottom: 3px solid $primary-textColor;
            color: $primary-textColor;
            font-weight: bold;
            @include tablet {
                padding-bottom: 2rem;
            }    
        }
    }
    &__item:hover{
        border-bottom: 3px solid $primary-textColor;
        color: $primary-textColor;
    }
}

// Start of Header SCSS
.header{
    color: $primary-textColor;
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 41vh;
    background-color: rgba(50, 50, 50, 0.5);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    background-position: center;
    @include tablet{
        height: 70vh;
    }
    &__title{
        margin-left: 1rem;
        font-size: $mobile-headerSize;
        line-height: $mobile-headerHeight;
        @include tablet{
            font-size: $desktop-headerSize;
            margin-left: $tablet-marginLeft;
        }
        @include desktop{
            margin-left: $desktop-marginLeft;
        }
    }
}

// Start of About SCSS
.about{
    color: $primary-color;
    margin: $mobile-sidePadding;
    @include tablet {
        margin: 0;
    }    
    &__title{
        font-family: "AvenirNextLTPro-demi";
        padding: $mobile-headlinePadding;
        margin: 0;
        font-size: $mobile-headerSize;
        @include tablet{
            padding: $desktop-headlinePadding;
            font-size: $desktop-sectionFont;
            margin-left: $tablet-marginLeft;
        } 
        @include desktop{
            margin-left: $desktop-marginLeft;  
        }
    }
    &__header{
        @include tablet{
            margin: $desktop-sidePadding;
        }
        @include desktop{
            margin: $desktop-margin;
        }
    }
    &__image{
        width: 100%;
        padding-bottom: 1rem;
    }
    &__quote{
        color: $primary-color;
        font-family: "AvenirNextLTPro-Demi";
        margin: 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-subFont;
            line-height: 2rem;
        }
    }
    &__name{
        font-family: "AvenirNextLTPro-Demi";
        padding-top: 1rem;
        margin: 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: 0.88rem;
        }
    }
    &__bio{
        @include tablet{
           margin: $desktop-sidePadding;
        }
        @include desktop{
            margin: $desktop-margin;
        }
    }
    &__subtitle{
        padding: 1.5rem 0 1rem 0;
        margin: 0;
        @include tablet{
            font-size: $desktop-subFont;
            font-family: "AvenirNextLTPro-Demi";
        }   
    }
    &__paragraph{
       @include tablet{
           display: flex;
       }
    }
    &__text{
        margin-top: 0;
        line-height: 1.2rem;
        font-size: 0.8rem;
        @include tablet{
            width: 90%;
            padding-right: 2.25rem;
        }
        @include desktop{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
}

// Start of Photos SCSS
.photos{
    background-color: #FAFAFA;
    margin: $mobile-sidePadding;
    @include tablet{
        margin: 0 0 0.5rem 0;
    }
    &__title{
        font-family: "AvenirNextLTPro-Demi";
        margin: 0;
        padding: $mobile-headlinePadding;
        font-size: $mobile-headerSize;
        line-height: $mobile-headerHeight;
        @include tablet{
            padding: $desktop-headlinePadding;
            font-size: $desktop-sectionFont;
            margin-left: $tablet-marginLeft;
        }
        @include desktop{
            margin-left: $desktop-marginLeft;
        }
    }
    &__gallery{
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            margin: 0 2.25rem 0 2.25rem;
            justify-content: space-between;
        }
        @include desktop{
            margin: 0 5rem 0 5rem;
        }
    }
    &__images{
        width: 100%;
        padding-bottom: 1rem;
        @include tablet{
            justify-content: center;
            width: 31%;
            padding-bottom: 1.5rem;
        }
        @include desktop{
            width: 31%;
            padding-bottom: 2.25rem ;
        }
    }
}

.form{
    padding-bottom: 1rem;
    margin: $mobile-sidePadding;
    font-family: "AvenirNextLTPro-Regular";
    @include tablet{
        margin: 0;
        padding-bottom: 2rem;
    }
    &__title{
        font-family: "AvenirNextLTPro-Demi";
        margin: 0;
        padding: $mobile-headlinePadding;
        font-size: $mobile-headerSize;
        line-height: $mobile-headerHeight;
        @include tablet{
            padding: $desktop-headlinePadding;
            font-size: $desktop-sectionFont;
            margin-left: $tablet-marginLeft;
        }
        @include desktop{
            margin-left: $desktop-marginLeft;
        }
    }
    &__info{
        display: flex;
        @include tablet{
            margin: $desktop-sidePadding;
        }
        @include desktop{
            margin: $desktop-commentMargin;
        }
        
    }
    &__group{
        width: 100%;
        margin-left: 0.75rem;
        @include tablet{
            margin-left: 1rem;
        }
       
    }
    &__image{
        background-image: url(../Assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin-top: 1.5rem;
        @include tablet{
            width: 3rem;
            height: 3rem;
        }
    }
    &__label{
        margin: 0 0 0.5rem 0 ;
        font-size: 0.75rem;
        font-weight: bold;
        color: $inactive
    }
    &__text{
        box-sizing: border-box;
        height: 2.25rem;
        width: 100%;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        background-color: #FAFAFA;
        padding: 0;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 1rem;
        @include tablet{
            height: 3rem;
        }
        &--comment{
            height: 6.25rem;
        }
    }
    &__text::placeholder{
        color: $primary-color;
        font-family: "AvenirNextLTPro-Regular";
        padding: 0.5rem 0 0 0.5rem;
    }
    &__text:focus{
       outline: 1px solid $primary-color;
    }
    &__text:invalid:focus{
         outline: 1px solid red;
    }
    &__submit{
        display: flex;
        justify-content: center;
        margin: 0 0 1rem 3rem;
        padding: 0;
        @include tablet{
            justify-content: end;
            margin: 0 5rem 1rem 3rem;
        }
        @include desktop{
            margin: 0 22rem 1rem 3rem;
        }
    }
    &__button{
        width: 100%;
        height: 2.5rem;
        color: $primary-textColor;
        background-color: $primary-color;
        border-radius: 4px;
        border-style: none;
        padding: 0;
        @include tablet{
            width: 150px;
        }
    }
    &__button:hover{
        background-color: $primary-hover;
    }
    &__comments{
        @include tablet{
            margin: $desktop-sidePadding;
        }
        @include desktop{
            margin: $desktop-commentMargin;
        }
    }
    &__container{
        border-top: 1px solid #E1E1E1;
        display: flex;
       
    }
    &__container:nth-last-child(1){
        border-bottom: 1px solid #E1E1E1;
    }
    &__name-date{
        display: flex;
        justify-content: space-between;
    }
    &__name{
        font-family: "AvenirNextLTPro-Demi";
    }
    &__date{
        color: $inactive;
    }
    &__paragraph{
        margin: 0 0 1rem 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
    }
    &__picture{
        background-color: #E1E1E1;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin: 1rem 0 0 0rem;
        @include tablet{
            width: 3rem;
            height: 3rem;
        }
    }
    &__comment-info{
        width: 100%;
        padding-left: 1rem;
    }
}

// Start of Footer SCSS
.footer{
    background-color: $primary-color;
    color: $primary-textColor;
    padding: $mobile-sidePadding;
    @include tablet{
        padding: 0;
    }
    &__socials{
        @include tablet{
        display: flex;
        align-items: center;
        }
        @include desktop{
            padding-left: 5rem;
        }
    }
    &__contacts{

        @include tablet{
            display: flex;
            justify-content: space-between;
            padding: 0 2.25rem 0 2.25rem;
        }
        @include desktop{
            padding-left: 5rem;
            width: 50%;
        }
    }
    &__copyright{
        margin: 0;
        font-size: $mobile-bodyFont;
        @include tablet{
            padding: 2.25rem;
        }
        @include desktop{
            padding: 2.25rem 0 2.25rem 5rem;
        }
    }
    &__logo{
        @include tablet {
            position: relative;
            bottom: 17.75rem;
            margin-left: 80%;
        }        
    }
    &__image{
        margin-top: 2rem;
        padding-bottom: 1rem;
        @include tablet{
            position: absolute;
        }
    }
}

// Start of Socials
.socials{
    &__title{
        margin: 0;
        padding: $mobile-headlinePadding;
        font-size: $mobile-headerSize;
        @include tablet{
            font-size: $desktop-subFont;
            padding: 3rem 1rem 2.25rem 2.25rem;
        }
        @include desktop{
            padding: 3rem 1rem 2.25rem 0rem;
        }
    }
    &__images{
        padding: 0 2rem 2rem 0rem;
        @include tablet{
            padding: 1.7rem 1rem 1rem 1rem;
        }
    }
}

// Start of Contacts
.contacts{
    &__name{
        margin:0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__titles{
        margin: 0 0 1.5rem 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__info{
        margin: 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__email{
        margin: 1.5rem 0 1.5rem 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
}