@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf");
}
html, body {
  margin: 0;
  font-family: "AvenirNextLTPro-Regular";
}

.nav {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav__logo {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 0 1rem 1rem 2.25rem;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin: 1rem 2rem 2rem 5rem;
  }
}
.nav__image {
  height: 1.25rem;
}
.nav__list {
  display: flex;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    margin-top: 1.5rem;
  }
}
.nav__item {
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding-bottom: 0.7rem;
  font-size: 0.63rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .nav__item {
    font-size: 0.75rem;
    margin: 0 1rem 0 2.25rem;
  }
}
.nav__item--active {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    padding-bottom: 2rem;
  }
}
.nav__item:hover {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.header {
  color: #FFFFFF;
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  height: 41vh;
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70vh;
  }
}
.header__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.75rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    margin-left: 5rem;
  }
}

.about {
  color: #323232;
  margin: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0;
  }
}
.about__title {
  font-family: "AvenirNextLTPro-demi";
  padding: 1.5rem 0 1rem 0;
  margin: 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__header {
    margin: 0 5rem 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    margin: 0 10rem 0 10rem;
  }
}
.about__image {
  width: 100%;
  padding-bottom: 1rem;
}
.about__quote {
  color: #323232;
  font-family: "AvenirNextLTPro-Demi";
  margin: 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__name {
  font-family: "AvenirNextLTPro-Demi";
  padding-top: 1rem;
  margin: 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .about__name {
    font-size: 0.88rem;
  }
}
@media screen and (min-width: 768px) {
  .about__bio {
    margin: 0 5rem 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__bio {
    margin: 0 10rem 0 10rem;
  }
}
.about__subtitle {
  padding: 1.5rem 0 1rem 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
    font-family: "AvenirNextLTPro-Demi";
  }
}
@media screen and (min-width: 768px) {
  .about__paragraph {
    display: flex;
  }
}
.about__text {
  margin-top: 0;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 90%;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}

.photos {
  background-color: #FAFAFA;
  margin: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .photos {
    margin: 0 0 0.5rem 0;
  }
}
.photos__title {
  font-family: "AvenirNextLTPro-Demi";
  margin: 0;
  padding: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .photos__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .photos__title {
    margin-left: 5rem;
  }
}
.photos__gallery {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .photos__gallery {
    margin: 0 2.25rem 0 2.25rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .photos__gallery {
    margin: 0 5rem 0 5rem;
  }
}
.photos__images {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photos__images {
    justify-content: center;
    width: 31%;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .photos__images {
    width: 31%;
    padding-bottom: 2.25rem;
  }
}

.form__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: "AvenirNextLTPro-Demi";
}
.form__info {
  display: flex;
  margin: 0 1rem 0 1rem;
}
.form__group {
  width: 100%;
  padding-left: 1rem;
}
.form__image {
  background-image: url(../Assets/Images/Mohan-muruge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 2.2rem 0 0 0rem;
}
.form__label {
  margin: 1rem 0 0.5rem 0;
  font-size: 12px;
  font-weight: bold;
  color: #AFAFAF;
}
.form__text {
  height: 36px;
  width: 100%;
}
.form__button {
  width: 80%;
  height: 40px;
  margin: 1rem 1rem 1rem 4rem;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 4px;
  border-style: none;
}
.form__container {
  border-top: 1px solid #E1E1E1;
  margin: 0 1rem 0 1rem;
  display: flex;
}
.form__name-date {
  display: flex;
  justify-content: space-between;
}
.form__name {
  font-family: "AvenirNextLTPro-Demi";
}
.form__date {
  color: #AFAFAF;
}
.form__paragraph {
  margin: 0 0 1rem 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
.form__picture {
  background-color: #E1E1E1;
  border-radius: 50%;
  width: 120px;
  height: 36px;
  margin-top: 0.7rem;
  margin-right: 1rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    padding-left: 5rem;
    width: 50%;
  }
}
.footer__copyright {
  margin: 0;
  font-size: 0.81rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding: 2.25rem 0 2.25rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: relative;
    bottom: 17.75rem;
    margin-left: 80%;
  }
}
.footer__image {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__image {
    position: absolute;
  }
}

.socials__title {
  margin: 0;
  padding: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .socials__title {
    font-size: 1.5rem;
    padding: 3rem 1rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .socials__title {
    padding: 3rem 1rem 2.25rem 0rem;
  }
}
.socials__images {
  padding: 0 2rem 2rem 0rem;
}
@media screen and (min-width: 768px) {
  .socials__images {
    padding: 1.7rem 1rem 1rem 1rem;
  }
}

.contacts__name {
  margin: 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .contacts__name {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}
.contacts__titles {
  margin: 0 0 1.5rem 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .contacts__titles {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}
.contacts__info {
  margin: 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .contacts__info {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}
.contacts__email {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 0.81rem;
  line-height: 1.13rem;
}
@media screen and (min-width: 768px) {
  .contacts__email {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}/*# sourceMappingURL=bio.css.map */