@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/global" as *;

html, body{
    margin: 0;
    font-family: "AvenirNextLTPro-Regular";
}

// Start of Header SCSS
.header{
color: $primary-textColor;
background-image: url(../Assets/Images/hero-shows.jpg);
background-size: cover;
background-color: rgba(50, 50, 50, 0.5);
background-blend-mode: overlay;
background-position: center;
@include tablet{
    height: 70vh;
}
    &__album{
        padding-top: 3rem;
        margin: 0 0 0 1rem;
        line-height: $mobile-headerHeight;
        font-size: $mobile-bodyFont;
    }

    &__title{
        margin-left: 1rem;
        font-size: $mobile-headerSize;
        line-height: 10px;
        @include tablet{
            font-size: $desktop-headerSize;
            margin-left: $tablet-marginLeft;
            width: 32.69rem;

        }
        @include desktop{
            margin-left: $desktop-marginLeft;
        }
    }
    &__song{
        margin: 1rem 1rem 1rem 1rem;
        width: 90%;
        height: 25vh;

    }
}
