@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

html, body{
    margin: 0;
    font-family: "AvenirNextLTPro-Regular";
}

// Start of Nav SCSS
.nav{
    background-color: $primary-color;
    @include tablet{
        display: flex;  
    }
    &__logo{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        @include tablet{
            margin: 0 1rem 1rem 2.25rem;
            align-items: center;
        }
        @include desktop{
            margin: 1rem 2rem 2rem 5rem;
        }
    }
    &__image{
        height: 1.25rem;   
    }
    &__list{
        display: flex;
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        @include tablet {
            padding-top: 1rem;
        }
        @include desktop{
            margin-top: 1.5rem;
        }
    }
    &__item{
        color: $inactive;
        text-decoration: none;
        width: 100%;
        text-align: center;
        padding-bottom: 0.7rem;
        font-size: 0.63rem;
        font-weight: bold;
        @include tablet{
            font-size: 0.75rem;
            margin: 0 1rem 0 2.25rem;
        }
        &--active{
            border-bottom: 3px solid $primary-textColor;
            color: $primary-textColor;
            font-weight: bold;
            @include tablet {
                padding-bottom: 2rem;
            }    
        }
    }
    &__item:hover{
    border-bottom: 3px solid $primary-textColor;
    color: $primary-textColor;
    }
}

// Start of Header SCSS
.header{
color: $primary-textColor;
background-image: url(../Assets/Images/hero-shows.jpg);
background-size: cover;
height: 41vh;
background-color: rgba(50, 50, 50, 0.5);
background-blend-mode: overlay;
display: flex;
align-items: center;
background-position: center;
@include tablet{
    height: 70vh;
}
    &__title{
        margin-left: 1rem;
        font-size: $mobile-headerSize;
        line-height: $mobile-headerHeight;
        @include tablet{
            font-size: $desktop-headerSize;
            margin-left: $tablet-marginLeft;
        }
        @include desktop{
            margin-left: $desktop-marginLeft;
        }
    }
}

// Start of Footer SCSS
.footer{
    background-color: $primary-color;
    color: $primary-textColor;
    padding: $mobile-sidePadding;
    @include tablet{
        padding: 0;
    }
    &__socials{
        @include tablet{
        display: flex;
        align-items: center;
        }
        @include desktop{
            padding-left: 5rem;
        }
    }
    &__contacts{

        @include tablet{
            display: flex;
            justify-content: space-between;
            padding: 0 2.25rem 0 2.25rem;
        }
        @include desktop{
            padding-left: 5rem;
            width: 50%;
        }
    }
    &__copyright{
        margin: 0;
        font-size: $mobile-bodyFont;
        @include tablet{
            padding: 2.25rem;
        }
        @include desktop{
            padding: 2.25rem 0 2.25rem 5rem;
        }
    }
    &__logo{
        @include tablet {
            position: relative;
            bottom: 17.75rem;
            margin-left: 80%;
        }        
    }
    &__image{
        margin-top: 2rem;
        padding-bottom: 1rem;
        @include tablet{
            position: absolute;
        }
    }
}

// Start of Socials
.socials{
    &__title{
        margin: 0;
        padding: $mobile-headlinePadding;
        font-size: $mobile-headerSize;
        @include tablet{
            font-size: $desktop-subFont;
            padding: 3rem 1rem 2.25rem 2.25rem;
        }
        @include desktop{
            padding: 3rem 1rem 2.25rem 0rem;
        }
    }
    &__images{
        padding: 0 2rem 2rem 0rem;
        @include tablet{
            padding: 1.7rem 1rem 1rem 1rem;
        }
    }
}

// Start of Contacts
.contacts{
    &__name{
        margin:0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__titles{
        margin: 0 0 1.5rem 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__info{
        margin: 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
    &__email{
        margin: 1.5rem 0 1.5rem 0;
        font-size: $mobile-bodyFont;
        line-height: $mobile-bodyHeight;
        @include tablet{
            font-size: $desktop-bodyFont;
            line-height: $desktop-bodyHeight;
        }
    }
}